/* CSS */
*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #bccecf;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.hidden{
  display: none;
}

#wrapper{
  width: 980px;
  margin:0px auto;
}

/* -- HEADER -- */
#header{
  position:relative;
}

.logo{
  background: url(/img/logo-circunecto.png) no-repeat left top;
  width: 295px;
  height: 100px;
  text-indent: -9999px;
  position: absolute;
  z-index: 1000;
  top: -100px;
  left:10%;
  margin-left:-170px;
}

/* -- END HEADER -- */

/* -- CONTENT -- */
#wrapper #content{
  min-height: 500px;
  background: url(/img/img-division.png) no-repeat center top #fff;
  margin-top: 100px;
  position: relative;
}

.pestana-test{
  background: url(/img/img-pestana.png) no-repeat left top;
  width: 108px;
  height: 108px;
  text-indent: -9999px;
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
}

#conectate-facil{
  width: 500px;
  color: #999;
  font-size: 18px;
  font-weight: normal;
  margin:0 auto;
  padding-top: 65px;
}

.text-bold{
  font-size: 24px;
  font-weight: bold;
}
.text-green{
  color: #95ba01;
/*  line-height: auto;
*/  margin:10px 0px 47px;
  display:block;
}

#images-wrapper{
  width: 920px;
  margin-top: 0px;
  position: absolute;
  z-index: 200;
  padding-left: 60px;
}

#images-wrapper img{
  padding-right: 145px;
}
#images-wrapper img:last-child{
  padding-right: 0px;
  margin-left: 100px;
}
#info-wrapper{
  background: url(images/bg-secciones.jpg) no-repeat left top;
  width: 980px;
  height: 347px;
  position: absolute;
  bottom: 0px;
}
.secciones{
  width: 265px;
  float: left;
  padding: 60px 30px 0px 30px;
}
.heading-text{
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  padding-bottom: 20px;
  text-shadow: 2px 1px 3px #555;
  -moz-text-shadow: 2px 1px 3px #555;
  -webkit-text-shadow: 2px 1px 3px #555;
  letter-spacing: -1px;
}
.info-seccion{
  color: #ffc;
  font-size: 14px;
  font-weight: normal;
  width: 265px;
}
.resaltar{
  color: #cf0;
}
.boton-home{
  background: rgb(170,206,0); /* Old browsers */
  /*background: -moz-linear-gradient(top, rgba(170,206,0,1) 0%, rgba(132,159,0,1) 100%); /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,206,0,1)), color-stop(100%,rgba(132,159,0,1))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top, rgba(170,206,0,1) 0%,rgba(132,159,0,1) 100%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top, rgba(170,206,0,1) 0%,rgba(132,159,0,1) 100%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(top, rgba(170,206,0,1) 0%,rgba(132,159,0,1) 100%); /* IE10+ */
  /*background: linear-gradient(top, rgba(170,206,0,1) 0%,rgba(132,159,0,1) 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aace00', endColorstr='#849f00',GradientType=0 ); /* IE6-9 */
  border:1px solid #5b754a;
  width: 127px;
  height: 27px;
  display: block;
  margin:25px 0px 0px 65px;
  cursor: pointer;
  text-align:center;
  font-size:14px;
  text-decoration:none;  
  line-height:27px;
  color:#4a5d1d;
}
.agradecimiento{
  line-height: 60px;
}
/* quienes somos */

#title-about{
  font-size:24px;
  color:#80bb45;
  font-weight:normal;
}
.about{
  width: 205px;
  color: #797979;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  border-bottom: #888 solid 1px;
  margin-left: 12px;
  padding-bottom: 10px;
}


#about-wrapper{
  background: url(images/divider-menu-about.png) no-repeat right top;
  width: 230px;
  height: auto;
  min-height:300px;
  padding-top: 50px;
  float: left;
  position: absolute;
  left: 40px;
  top: 100px;
  text-align:right;
}

.about-links li{
  font-size: 18px;
  list-style-type: none;
  margin-bottom:10px;
  padding-right:25px;
  letter-spacing:-0.3px;
}
.about-links li a{
  text-decoration: none;
  color: #797979;
}
.about-links li:hover a{
  color:#999;
}
.selected-menu, .about-links li.selected-menu:hover{
  background:url(images/indicator-menu-about.png) no-repeat right center;
}

.slogan{
  width: 205px;
  margin-left: 12px;
  color: #65b9c8;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
}
.info-sitio-wrapper{
  width: 635px;
  position: absolute;
  right: 0px;
  top: 100px;
}
.question{
  font-size: 18px;
  color: #65b9c8;
  padding: 6px 0px 0px 0px;
  height:365px!important;
  width: 630px;
  float:left;
  list-style-type: none;
  overflow: auto;
  margin-bottom: 20px;
  margin-top: 95px;
}
.question span{
  font-weight: bold;
  color: #7ea628;
}
.question big{
  font-weight: bold;
  color: #65B9C8;
}
.small b{
  font-weight: bold;
  color: #65B9C8;
}
.small[style~="font-weight: bold;"]{
  font-weight: bold;
  color: #65B9C8;
}
.info-sitio{
  padding-right: 40px;
  font-size: 14px;
  color: #797979;
  max-height: 480px;
  overflow-x: hidden;
}
.valor{
  display: block;
  font-size: 15px;
  width:110px;
  height:110px;
  margin: 3px 37px 37px 3px; 
  float:left;
  background: rgb(255,255,255); /* Old browsers */
  /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */ 
  /*background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
  /*background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6 */
  *border:1px solid #fff;
  border: 1px solid #fff\;
  box-shadow:0px 0px 4px #999;
  -moz-box-shadow:0px 0px 4px #999;
  -webkit-box-shadow:0px 0px 4px #999;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  text-align:center;
  line-height:100px;
}
.valor:hover{
  color:#67c4d1;
}
.valor + .valor + .valor{
  clear:left;
}
.valor + .valor + .valor + .valor{
  clear:none;
}
/* end quienes somos */
/* -- END CONTENT -- */
/* -- CONTENT -- */
.pop-up{
  display: none;
  width: 790px;
  margin: 0px auto;
  position: absolute;
  z-index: 9999;
  /*height:397px;*/
}
.pop-up.active{
  display: block; 
}
/* pop up gracias por contestar */

#popup-gracias{
  background: #fff;
  -moz-border-radius:15px;
  border-radius:15px;
  -webkit-border-radius:15px;
  border: #747573 solid 3px;
  width: 404px;
  height: 500px;
  margin: 0px auto;
  padding-left: 36px;
  padding-top: 20px;
}
#gracias{
  width: 370px;
  font-size: 21px;
  color: #65b9c8;
  text-transform: uppercase;
  border-bottom: #797979 solid 1px;
  padding-bottom: 0px;
}
#gracias span{
  font-size: 12px;
  color: #797979;
}
.form{
  padding-top: 10px;
}
.form label{
  font-size: 12px;
  color: #797979;
}
.form textarea{
  background: url(images/bg-input.png) repeat-x left top;
  width: 358px;
  height: 170px;
  border: #acacac solid 1px; 
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-border-radius:5px;
  margin-top: 10px;
  padding-left: 12px;
  padding-top: 10px;
}
.input-text{
  background: url(images/bg-input.png) repeat-x left top;
  border: #acacac solid 1px; 
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-border-radius:5px;
  width: 88%;
  height: 25px;
  color: #b4b4b4;
  font-size: 14px;
  padding-left: 12px;
  margin-top: 0px;
  margin-bottom: -1px;
}
.resultados-cancelar{
  background: url(images/btn-cancelar.png) no-repeat left top;
  width: 71px;
  height: 24px;
  border: none;
  display: block;
  text-indent: -9999px;
  float: left;
  margin: 20px 10px 0px 222px;
  cursor: pointer;
}
.resultados-enviar{
  background: url(images/btn-enviar.png) no-repeat left top;
  width: 71px;
  height: 24px;
  border: none;
  display: block;
  text-indent: -9999px;
  margin-top: 19px;
  cursor: pointer;
}
/* end pop up gracias por contestar */

/* pop up principio test */
.popup-content{
  background: url(images/bg-test.jpg) no-repeat right bottom #fff;
  width: 790px;
  height: 583px;
  position: relative;
}
/* .small-logo{
  background: url(images/rh040-small.png) no-repeat left top;
  width: 120px;
  height: 95px;
  text-indent: -9999px;
  position: relative;
  top:-35px;
  margin:0 auto;
} */
#bienvenido-wrapper{
  width: 630px;
  margin:0 auto;
  padding-bottom: 25px;
}
#bienvenido{
  color: #65b9c8;
  font-size: 30px;
  padding-top: 56px;
  padding-left: 40px;
  letter-spacing: -0.03em;
}
.instrucciones{
  color: #888;
  font-size: 18px;
  padding-left: 40px;
  width: 590px;
  padding-top: 15px;
  line-height: 20px;
  letter-spacing: -0.03em;
}
.green{
  color: #bfe13c;
}
.small{
  font-size: 14px;
}
.pregunta-error{
  color: #f06f5a;
}
.preguntas-test{
  color: #65b9c8;
  top: 20px;
  font-size: 18px;
  padding: 5px 0px 40px 0px;
  letter-spacing: -0.03em;
  text-align: center;
  width: 617px;
  position: absolute;
}
.opciones{
  display: inline-block;
  *display:inline;/*IE7 No reconoce correctamente la propiedad inline-block*/ 
  zoom:1;/*Agregamos zoom para activar la propiedad hasLayout de explorer*/
}
.opciones li{
  list-style-type: none;
  width: 300px;
  float: left;
  padding-left: 30px;
  min-height: 40px;
}

.rh-radio-separator {
  height:15px;
}

.question .input input[type=radio] {
  margin: 0 10px;
}

.checkboxes-form{
  padding:0px 70px;
  color: #888;
  font-size: 15px;
  letter-spacing: -0.03em;
}
.checkboxes-form label{
}
.input-checkbox{
  margin-right: 10px;
}
.left-questions{
  width: 325px;
  float: left;
}
.porcentaje{
  background: url(images/bg-porcentaje.png) repeat-x left top;
  position: absolute;
  bottom: 10px;
  left:10px;
  width: 770px;
  height: 37px;
}
.porcentaje p{
  color: #a0a0a0;
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: 10px;
}
.barra-holder{
  width: 100%;
}
.barra{
  background: #cf0;
  display: block;
  height: 37px;
  width:0%;
}
.continuar-despues{
  background: url(images/btn-continuar.png) no-repeat left top;
  width: 149px;
  height: 27px;
  border: none;
  display: block;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: -35px;
}
.flecha-izq{
  position: absolute;
  left: 10px;
  bottom: 235px;
}

.flecha-der{
  position: absolute;
  right: 10px;
  bottom: 235px;
}
/* end pop up principio test */

/* pop up fin test */
.instrucciones-final{
  color: #888;
  font-size: 18px;
  padding-left: 40px;
  width: 590px;
  padding-top: 40px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.encuesta-siguiente {
  background: url(images/btn-siguiente.png) no-repeat left top;
  width: 80px;
  height: 27px;
  border: none;
  display: block;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 55px;
  z-index:10000;

}

.encuesta-siguiente:hover{
  background: url(images/btn-siguiente.png) no-repeat left -27px;
}

.encuesta-enviar{
  background: url(images/btn-enviar.png) no-repeat left top;
  width: 70px;
  height: 24px;
  border: none;
  display: block;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 42px;
}
/* end pop up fin test */
.modal-wrapper{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal-background{
  position: fixed;
  background: #000;
  opacity: .7;
  -moz-opacity:.7;
  -webkit-opacity:.7;
  filter:alpha(opacity=70);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
/* -- END CONTENT -- */

/* -- FOOTER -- */
#footer{
  position: relative;
  height: 50px;
  color: #cf0;
}
.footer-info{
  color: #7b9293;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
}
.footer-info span{
  font-weight: bold;
}
.footer-info:last-child{
  border-right: none;
}
.footer-logo{
  background: url(/img/circunecto-footer.png) no-repeat left top;
  width: 120px;
  height: 47px;
  display: block;
  text-indent: -9999px;
  right: 0px;
  top: 2px;
  position: absolute;  
}

/* -- END FOOTER -- */


div#admin-container label {
  display:block;
}

div#admin-container div.checkbox label,
div#admin-container div.radio label {
  display:inline;
}

div#admin-container div.input {
  margin:5px 0;
}

/* CAROUSEL*/

.carousel-next, .carousel-previous {
  border:none;
  text-indent:-99999px;
  width:26px;
  height:26px;
  position:absolute;
  display:inline-block;
  top:50%;
  margin-top:-13px;
}

.carousel-next {
  background:url('/img/flecha-der.png') no-repeat 0 0;
  right:5px;
}
.carousel-previous {
  background:url('/img/flecha-izq.png') no-repeat 0 0;
  left:10px;
  cursor:pointer;
}

.flecha-izq, .flecha-der {
  display:none;
}

.question_ul {
  width:640px;
  margin:0 auto;
 /* height:600px;*/
}

#scroll {
  width:630px;
 /* height:220px;*/
  margin:0 auto;
  outline:none;
}

.carousel-wrap {
  height:482px !important;
  margin-bottom:40px;
}

.rh-slider {
  width: 350px;
  margin: 0 auto;
}

.slider-options span,
.slider-options div {
  float:left; 
  display:block;
  margin:0px 15px;
}

.slider-options {
  clear:both;
  height: 40px;
}


#scroll .question_ul .question .input.radio label {
  font-size: 14px;
  color: #666;
  margin: 0 10px;
  font-weight:normal;
  width: 400px;
  /*text-align: center;*/
}
#scroll .slider-options span{
 font-size: 13px;
 color: #666;
 margin: 0px;
 font-weight:normal;
 width: 120px;
}
/*desaparecemos lso selects */
#scroll .question_ul .question .input.select {
  display:none;
}
/*Ajustamos el content del admin*/
#content{
  height: 100%;
  min-height: 500px;
}
/** La flecha de "siguiente" no la necesitamos en la encuesta en los carruseles**/
.carousel-next {
  display:none;
}
/*Más cortos los inputs del slider en el admin*/
.shorter-input{
  width:135px;
  float:left;
}
/*Para mostrar el factor en admin*/
.elfactor{
  float:right;
}
#tabs{
  position:fixed; 
  top:75px; 
}
/*Update*/
#update{
  float:right;
}
/*
.fechaform{
  width:116px;
}*/
.date label{
  margin-right: 162px;
}
.input label{
 font-size: 12px;
 margin-right: 186px;
 width: 200px;
 display: inline-block;
}
.no-height{
  height:30px!important;
  margin-top:0;
}
.select{
  width: 200px;
  float: left;
}
.text label{
  float: left;
}


/* SLIDER UI */
.ui-widget-content .ui-slider-handle,
.ui-widget-content .ui-slider-default{
  background:url(images/bg-slider.jpg) repeat-x left top!important;
  outline:none;
  cursor:pointer!important;
  box-shadow:0px 0px 6px #999;
  -moz-box-shadow:0px 0px 6px #999;
  -webkit-box-shadow:0px 0px 6px #999;
}


/**********************/
/**********************/
/* CAKE PHP DEFAULT */
/**********************/
/**********************/
	
 {
	color: #003d4c;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #367889;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
}
h2 {
	background:#fff;
	color: #e32;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 190%;
}
h3 {
	color: #2c6877;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}
ul, li {
	margin: 0 12px;
}
p {
	margin: 0 0 1em 0;
}


/** Layout **/
/*
#container {
	text-align: left;
}

#header{
	padding: 10px 20px;
}
#header h1 {
	line-height:20px;
	background: #003d4c url('../img/cake.icon.png') no-repeat left;
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	background: #003d4c;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #003d4c;
	text-decoration: underline;
}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}


#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

*/

/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:10px 2%;
}
div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
	background: #f9f9f9;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

/* SQL log */
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #5BA150;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

/**  Actions  **/
.actions ul {
	margin: 0;
	padding: 0;
}
.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}

/* Buttons and button links */
input[type=submit],
.actions ul li a,
.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}
.actions ul li a:hover,
.actions a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}

input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
	background: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
	background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
	background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
	background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
	background-image: -o-linear-gradient(top, #dfdfdf, #eee);
	background-image: linear-gradient(top, #dfdfdf, #eee);
	text-shadow: #eee 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}

/** Related **/
.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 15px;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
	padding: 0;
	position: relative;
}
.cake-debug-output > span {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(255, 255, 255, 0.3);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 6px;
	color: #000;
	display: block;
	float: left;
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
	font-size: 16px;
	line-height: 20px;
	clear: both;
}
.cake-error > a {
	text-shadow: none;
}
.cake-error {
	white-space: normal;
}
.cake-stack-trace {
	background: rgba(255, 255, 255, 0.7);
	color: #333;
	margin: 10px 0 5px 0;
	padding: 10px 10px 0 10px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.cake-stack-trace a {
	text-shadow: none;
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0px 4px 10px 2px;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	text-decoration: none;
	-moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
.cake-context {
	margin-bottom: 10px;
}
.cake-stack-trace pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px 0 10px 0;
	padding: 1em;
	overflow: auto;
	text-shadow: none;
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
.code-coverage-results div.covered span.content {
	background:#cec;
}
.code-coverage-results div.ignored span.content {
	color:#aaa;
}
.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
.code-coverage-results span.line-num strong {
	color:#666;
}
.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
.code-coverage-results div.realstart {
	margin-top:0px;
}
.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
.code-coverage-results span.result-bad {
	color: #a00;
}
.code-coverage-results span.result-ok {
	color: #fa0;
}
.code-coverage-results span.result-good {
	color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
	display:none;
}	

